// colors 
$color-primary: #333645;
$color-primary-hover: #22242e;
$color-btn-base: #999aa2;
$color-btn-base-hover: #84858f;
$color-nav1-primary: #526781;
$color-nav1-secondary: #67809f;
$color-nav2-primary: #286abd; 
$color-nav2-secondary: #4183d7;
$color-nav2-hover: #2a6ec6;
$color-nav3-primary: #25a25a;
$color-nav3-secondary: #2ecc71;
$color-nav4-primary: #bc2c28;
$color-nav4-secondary: #d64541;
$color-nav5-primary: #79539a;
$color-nav5-secondary: #926fb1;
$color-nav6-primary: #de093f;
$color-nav6-secondary: #f62459;
$color-nav7-primary: #a3331d;
$color-nav7-secondary: #ce4125;
$shadow-text-box: inset 0 1px 1px rgb(0 0 0 / 8%);

@mixin navBtnHover {
    background-color: white;
    border-color: white;
}

@mixin btn-icon {
    display: block;
    height: 4px;
    width: 33px;
    background-color: white;
    border-radius: 0;
}

@mixin colPad {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

@mixin btnSize {
    border-radius: 6px;
    padding: 10px 30px;
    font-size: 20px;
}


html {
    font-size: 16px;
}

body {
    background-color: white;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    letter-spacing: .4px;
    color: #666;
}

span {
    display: block;
}

div {
    display: block;
}

a {
    text-decoration: none;
    background: transparent;
}

button {
    cursor: pointer;
}

*, :before, :after {
    box-sizing: border-box;
}

p {
    line-height: 1.875rem;
    margin-bottom: 25px;
}

.inner {
    padding: 20px 0px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

h3 {
    font-weight: 400;
    margin: 0 0 15px;
    font-size: 1.625rem;
    a {
        color: $color-primary;
    }
}

h2 {
    font-size: 2rem;
    font-weight: 400;
    margin: 0 0 15px;
    color: $color-primary;
}

.h1, h1 {
    font-size: 2.25rem;
    font-weight: 400;
    margin: 0 0 28px;
    color: $color-primary;
    line-height: 1.1;
}

[class^="-icon"] {
    font-family: icomoon;
}

#header {
    .row {
        display: table;
        width: 100%;
        margin: 0;
        height: 70px;
    }
}

.h-r1 {
    display: table-cell;
    padding: 0;
    vertical-align: middle;
    width: 100%;
}

.logo {
    vertical-align: middle;
    display: table-cell;
    cursor: pointer;
    img {
        max-width: 100%;
        display: block;
    }
}

.phone-logo {
    font-size: 32px;
    margin-left: 20px;
    color: $color-primary;
    &:hover {        
        color: $color-primary-hover;
        border-bottom: 4px solid $color-primary-hover;
    }
}

.btn {
    height: auto;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 1.063rem;
    border-radius: 3px;
    white-space: normal;
    text-align: center;
    border: 1px solid transparent;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    &:hover {
        text-decoration: none !important;
    }
}

.btn-header {
    display: none;
    float: left;
    margin-left: 20px;
    vertical-align: middle;
    height: 56px;
    line-height: 46px;
}

.btn-support {
    color: white;
    background-color: $color-nav2-secondary;
    border-color: $color-nav2-secondary;
    margin-left: 0;

    &:hover {
        background-color: $color-nav2-hover;
        border-color: $color-nav2-hover;
    }
}


.btn-norm {
    color: white;
    background-color: $color-btn-base;
    border-color: $color-btn-base;
    &:hover {
        background-color: $color-btn-base-hover;
        border-color: $color-btn-base-hover;
    }
}

.fa-computer-mouse, .fa-paper-plane {
    margin-right:5px;
    font-size: 1.2rem;
    line-height: 45px;
}

.btn-nav {
    height: 56px;
    width: auto;
    border-radius: 3px;
    border: 0;
    padding: 5px 15px;
    line-height: 46px;
    float: left;
    background-color: $color-primary;
    border-color: $color-primary;
    color: white;
    margin-left: 20px;
    &:hover {
        background-color: $color-primary-hover;
    }
}

.btn-nav-icon {
    @include btn-icon;
    position: relative;
    &::before{
        @include btn-icon;
        top: -10px;
        position: absolute;
        content: '';
    }
    &::after {
        @include btn-icon;
        top: 10px;
        position: absolute;
        content: '';
    }
}

.btn-nav-icon-inner {
    background-color: white;
    border-radius: 0;
    &::before{
        background-color: white;
        border-radius: 0;
        top: -10px;
    }
    &::after {
        background-color: white;
        border-radius: 0;
        top: -10px;
    }
}

.form-search {
    margin-top: 11px;
    position: relative;
}

.input-search {
    width: 100%;
    height: 47px;
    padding: 5px 15px;
    padding-right: 40px;
    font-size: 14px;
    color: #555;
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 2px;
    outline: hsla(0, 0%, 100%, .2);
    background-color:rgba(0, 0, 0, .1);
    box-shadow: $shadow-text-box;
}

.submit-search {
    background: none;
    border: none;
    outline: none;
    position: absolute;
    font-size: 20px;
    line-height: 47px;
    color: $color-primary;
    right: 5px;
}

.actions {
    float: right;
    padding: 7px 0;
}

.tablet {
    margin-left: 20px;
    float: left !important;
    display: none;
    .input-search {
        display: inline-block;
        border-radius: 0;
        width: 174px;
        height: 56px;
        background-color: white;
        background-image: none;
        border: 1px solid #e5e5e5;
        box-shadow: $shadow-text-box;
    } 
    .submit-search {
        padding: 7px 20px 3px;
        height: 56px;
        font-size: 1.5rem;
        border-radius: 0 3px 3px 0;
        border: none;
        vertical-align: middle;
        background-color: $color-btn-base;
        color: white;
        right: 0;
        position: relative;    
        &:hover {
            background-color: $color-btn-base-hover;
        }
    }
    .form-search {
        margin-top: 0;
    }
}

.main-nav {
    background-color: $color-primary;
    display: none;
    .container {
        padding: 0;
    }
    ul {
        position: relative;
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        li {
            flex: 1;
            text-align: center;
            position: relative;
            &:hover {
                i {
                    color: white !important;
                }
            }
        }
        a {
            position: relative;
            display: block;
            color: white;
            text-transform: uppercase;
            padding: 19px 0 18px;
            font-size: 1.125rem;
            text-decoration: none;
            line-height: 1;
        }
        i[class^="fa-"] {
            display: block;
            padding-bottom: 10px;
            font-size: 1.438rem;
        }
        small {
            display: block;
            font-size: .625rem;
        }
        .nav-dropdown {
            flex-direction: column;
        }
    }
}

//Main-nav Options

.nav-dropdown {
    padding: 0.313rem 0;
    margin: 0;
    position: absolute !important;
    top: 100%;
    width: 100%;
    z-index: 5;
    list-style: none;
    border-radius: 0 0 0.625rem 0.625rem;
    display: none !important;
    a {
        padding: 0.625rem 0.938rem !important;
        font-size: 1rem !important;
        text-align: center !important;
        display: block !important;
        line-height: 1.313rem !important;
        text-transform: none !important;
        &:hover {
            text-decoration: underline;
        }
    }
}

.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
    min-height: 550px;
    background-color: black;
}

.banner-img-container {
    overflow: hidden;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-content {
    position: relative;
    z-index: 3;
    text-align: center;
    color: white;
}

.banner-title {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
    margin: 0 0 1.25rem;
}

.banner-par {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
    margin-bottom: .375rem;
    margin-top: 0;
}

.services-list {
    margin-top: 20px;
    .h2 {
        font-size: 1.3rem;
        position: relative;
        padding-bottom: 10px;
        margin: 0 0 11px;
        font-weight: 400 !important;
    }
    .p {
        font-size: 0.8125rem;
        line-height: 1.375rem;
        margin-bottom: 13px;
        font-weight: 400;
    }
    .block {
        margin-top: 30px;
        text-align: center;
        position: relative;
        top: 0;
        border-radius: 15px;
        transition: .5s ease;
    }
    .icon {
        font-size: 2rem;
        line-height: 62px;
        color: white;
    }
}

.block {
    display: block;
    border: 1px solid #ccc;
    padding: 30px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, .1);
    &:hover {
        top: -10px
    }
}

.services-title-container {
    @include colPad;
}

.services-title {
    font-size: 2.7rem;
    margin-top: -13px;
    strong {
        color: $color-primary;
        font-weight: 600;
    }
}

.services-r1, .services-r2 {
    @include colPad;
    top: -22px;
    a {
        font-weight: 600;
        color: $color-primary;
    }
}

.services-icon {
    height: 65px;
    width: 65px;
    margin: 0 auto 17px;
    border-radius: 50%;
    background-color: white;
}

//Nav Buttons
.software, .it, .digital, .telecoms, .web, .security, .developer-course  {
    &:hover {
        >.nav-dropdown {
            display: block !important;
        }
        .p, .h2 {
            color: white;
        }
        .services-icon {
            background-color: white;
        }
    }
}

.software {
    i {
        color: $color-nav1-primary;
    }
    .nav-dropdown {
        background-color: $color-nav1-primary;
    }
    &:hover {
        background-color: $color-nav1-secondary;
        .icon {
            color: $color-nav1-secondary;
        }
        .btn-software {
            color: $color-nav1-secondary;
            @include navBtnHover;
        }
    }
    .services-icon {
        background-color: $color-nav1-secondary;
    }
}

.it {
    i {
    color: $color-nav2-primary;
    }
    .nav-dropdown {
        background-color: $color-nav2-primary;
    }
    &:hover {
        background-color: $color-nav2-secondary;
        .icon {
            color: $color-nav2-secondary;
        }
        .btn-it {
            color: $color-nav2-secondary;
            @include navBtnHover;
        }
    }
    .services-icon {
        background-color: $color-nav2-secondary;
    }
}

.digital {
    i {
        color: $color-nav3-primary;
    }
    .nav-dropdown {
        background-color: $color-nav3-primary;
    }
    &:hover {
        background-color: $color-nav3-secondary;
        .icon {
            color: $color-nav3-secondary;
        }
        .btn-digital {
            color: $color-nav3-secondary;
            @include navBtnHover;
        }
    }
    .services-icon {
        background-color: $color-nav3-secondary;
    }
}

.telecoms {
    i {
        color: $color-nav4-primary;
    }
    .nav-dropdown {
        background-color: $color-nav4-primary;
    }
    &:hover {
        background-color: $color-nav4-secondary;
        .icon {
            color: $color-nav4-secondary;
        }
        .btn-telecoms {
            color: $color-nav4-secondary;
            @include navBtnHover;
        }
    }
    .services-icon {
        background-color: $color-nav4-secondary;
    }
}

.web {
    i {
        color: $color-nav5-primary;
    }
    .nav-dropdown {
        background-color: $color-nav5-primary;
    }
    &:hover {
        background-color: $color-nav5-secondary;
        .icon {
            color: $color-nav5-secondary;
        }
        .btn-web {
            color: $color-nav5-secondary;
            @include navBtnHover;
        }
    }
    .services-icon {
        background-color: $color-nav5-secondary;
    }
}

.security {
    i {
        color: $color-nav6-primary;
    }
    .nav-dropdown {
        background-color: $color-nav6-primary;
    }
    &:hover {
        background-color: $color-nav6-secondary;
        .icon {
            color: $color-nav6-secondary;
        }
        .btn-security {
            color: $color-nav6-secondary;
            @include navBtnHover;
        }
    }
    .services-icon {
        background-color: $color-nav6-secondary;
    }
}

.developer-course {
    i {
        color: $color-nav7-primary;
    }
    .nav-dropdown {
        background-color: $color-nav7-primary;
    }
    &:hover {
        background-color: $color-nav7-secondary;
        .icon {
            color: $color-nav7-secondary;
        }
        .btn-developer-course {
            color: $color-nav7-secondary;
            @include navBtnHover;
        }
    }
    .services-icon {
        background-color: $color-nav7-secondary;
    }
}

[class^="btn-"] {
    color: white;
}

.btn-software {
    background-color: $color-nav1-secondary;
    border-color: $color-nav1-secondary;
}

.btn-it {
    background-color: $color-nav2-secondary;
    border-color: $color-nav2-secondary;
}

.btn-digital {
    background-color: $color-nav3-secondary;
    border-color: $color-nav3-secondary;
}

.btn-telecoms {
    background-color: $color-nav4-secondary;
    border-color: $color-nav4-secondary;
}

.btn-web {
    background-color: $color-nav5-secondary;
    border-color: $color-nav5-secondary;
}

.btn-security {
    background-color: $color-nav6-secondary;
    border-color: $color-nav6-secondary;
}

.btn-developer-course {
    background-color: $color-nav7-secondary;
    border-color: $color-nav7-secondary;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}

.part-sect {
    width: 2000px;
}

.partnerships {
    min-width: 100%;
    overflow: hidden;
}

.partnership {
    margin-right: 50px;
    filter: grayscale(1);
    &:hover {
        filter: grayscale(0);
    }
}

.welcome-background {
    background-color: $color-primary;
    color: white;
    a {
        color: white;
        &:hover {
            text-decoration: underline;
        }
    }
    .h1 {
        color: white;
        font-weight: 600;
    }
    .fa-arrow-right {
        margin-left: 8px;
        margin-right: -3px;
    }
}

.col {
    @include colPad;
    .h1 {
        margin-top: -6px;
        margin-bottom: 40px;
    }
}

.btn-norm-dark {
    background-color: #272936;
    border-radius: 6px;
    padding: 10px 30px;
    font-size: 20px;
    &:hover {
        background-color: #121318;
    }
}

[class$="-star"] {
    color: orange;
    font-size: 45px;
    margin-bottom: 14px;
}

.review {
    font-size: 1.3rem;
    font-weight: 600;
    font-style: italic;
    line-height: 1.95rem;
}

.review-author {
    font-size: 1.1rem;
    font-weight: 600;
    color: #a3a8ac;
}

.btn-google, .btn-trustpilot {
    border: none;
    margin-top: 55px;
}

.btn-google {
    background-color: #4387f6;
    margin-right: 8px;
    @include btnSize;
    &:hover {
        background-color: #166af4;
    }
}

.btn-trustpilot {
    background-color: #00b67b;
    @include btnSize;
    &:hover {
        background-color: #009b69;
    }
}


.news {
    padding-top: 50px;
}

.latest-news {
    .section {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.news-title-container {
    display: flex;
    justify-content: space-between;
}

.news-view-all-top {
    a {
        font-weight: 600;
        &:hover {
            border-bottom: 3px solid $color-primary-hover;
        }
    }
}

.col-2 {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    top: -35px;
}

.item {
    font-size: .8125rem;
    top: 0;
    position: relative;
    transition: .5s ease;
    margin-top: 30px;
    &:hover {
        top: -10px;
        transition: .5s ease;
    }
    h3 {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
    }
    p {
        font-size: .8125rem;
        line-height: 1.375rem;
    }
    .block {
        border-top: 0;
        border-radius: 0 0 3px 3px;
    }
}

.article-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.news-banner-container {
    position: relative;   
}

.category {
    position: absolute;
    top: 22px;
    right: 0;
    font-size: .75rem;
    line-height: 1.438rem;
    text-transform: uppercase;
    padding: 0 10px;
    z-index: 1;
    text-decoration: none;
    color: white;
    &:hover {
        text-decoration: underline;
    }
}

.c-1 {
    .category {
        background-color: $color-nav2-secondary;
    }
    h3 {
        a {
            color: $color-nav2-secondary;
        }
    }
}

.c-2 {
    .category {
        background-color: $color-nav5-secondary;
    }
    h3 {
        a {
            color: $color-nav5-secondary;
        }
    }
    .btn {
        background-color: $color-nav5-secondary;
        border-color: $color-nav5-secondary;
    }
}

.news-img-container {
    display: block;
    border-radius: 0;
    position: relative;
    overflow: hidden;
    bottom: -10px;
}

.img {
    width: 100%;
    height: auto;
}

.user {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #ccc;
    display: table;
    width: 100%;
    font-size: .875rem;
    >* {
        display: table-cell;
        vertical-align: middle;
    }
}

.avatar {
    overflow: hidden;
    width: 1%;
    >img {
        height: auto;
        max-width: 47px;
        border-radius: 50%;
    }
}

.details {
    padding-left: 20px;
    line-height: 1.375rem;
    .primary-text {
        color: $color-primary;
        font-weight: 600;
    }
}



.news-view-all {
    text-align: center;
    margin-bottom: 20px;
    display: none;
    a {
        font-weight: 600;
        &:hover {
            border-bottom: 3px solid $color-primary-hover;
        }
    }
}

.clients-section {
    display: none;
    .section {
        overflow: visible !important;
    }
}

.client-list {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.client {
    flex-grow: 1;
    position: relative;
    padding: 0 20px;
    vertical-align: middle;
    filter: grayscale(1);
    img {
        max-width: 100%;
        height: auto;
    }
    h3 {
        position: relative;
        font-size: 1.125rem;
        color: white;
        padding-bottom: 17px;
        margin: 0 0 11px;
    }
    p {
        font-size: .8125rem;
        line-height: 1.375rem;
        margin-bottom: 0;
    }
    &:hover {
        filter: grayscale(0);
        .description {
            display: block !important;
        }
    }
}

.description {
    position: absolute;
    bottom: 100%;
    left: -200px;
    right: -200px;
    display: none;
}

.box {
    background-color: $color-primary;
    padding: 20px;
    color: white;
    font-size: .875rem;
    max-width: 260px;
    margin: 0 auto 50px;
    h3 {
        &::after {
            content: "";
            display: block;
            position: absolute;
            background-color: white;
            width: 28px;
            height: 3px;
            top: 90%;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
}

.arrow {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -36px;
    &::after {
        content: "";
        margin: auto;
        display: inline-block;
        border-color: $color-primary transparent transparent;
        border-style: solid;
        border-width: 35px 36px 0;
    }
}

.newsletter {
    background-color: #ddd;
}

.sign-up {
    padding: 42px 0;
    button {
        color: white;
    }
    .btn-norm-dark {
        padding: 5px 15px;
        font-size: 1.063rem;
    }
}

.user-input-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.sign-up-input {
    flex: 1 1 450px;
    padding-left: 15px;
    padding-right: 15px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: 600;
    color: $color-primary;
    display: inline-block;
    margin-bottom: 5px;
}

.required { 
    &::after {
        content: " *";
        color: #d24d57;
    }
}

.form-control {
    display: block;
    font-size: 14px;
    line-height: 1.4;
    color: #555;
    width: 100%;
    height: 47px;
    padding: 5px 15px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: $shadow-text-box;
    &:focus {
        border-color: #5bc0de;
        outline: 0;
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(91 192 222 / 60%);
    }
}

.media {
    cursor: pointer;
    &:first-child {
        margin-top: 0;
    }
}

.media-checkbox {
    padding-right: 0;
    display: table-cell;
    vertical-align: top;
}

.checked {
    position: absolute;
    top: 2px;
    left: 10px;
    font-size: 1.5rem;
    display: none;
}

.checkmark {
    color: white;
}

.checkbox-container {
    position: relative;
    float: left;
    height: 32px;
    width: 32px;
    margin-right: 20px;
}

input.checkbox {
    position: absolute;
    width: 32px;
    height: 32px;
    -webkit-appearance: none;
    cursor: pointer;
    &:after {
        content: "";
        border: 3px solid $color-primary;
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        border-radius: 3px;
    }
    &:checked {
        background-color: $color-primary;
        + .checked {
            display: block !important;
        }
    }
}

.marketing-preference-checked {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .checkmark {
        font-size: 1.5rem;
        display: none;
    }
}

.media-content {
    display: table-cell;
    vertical-align: top;
    a {
        color: $color-primary;
        text-decoration: underline;
    }
}

footer {
    background-color: $color-primary;
    color: white;
    padding: 47px 0 43px;
    h4 {
        color: white;
        font-size: 1rem;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 26px;
        margin-top: 0;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li {
        font-size: .8125rem;
        line-height: 1.375rem;
    }
    a {
        color: white;
    }
}

.footer-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

.service, .office {
    width: 225px;
    margin-bottom: 30px;
}

.services, .offices {
    display: flex;
    justify-content: space-between;
}

.bottom {
    display: flex;
    justify-content: space-between;
    font-size: .8125rem;
    border-top: 1px solid #888;
    padding-top: 10px;
    margin-top: 10px;
}

.license {
    display: flex;
    color: white;
    padding-top: 5px;
    span {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.social-media {
    display: flex;
    justify-content: flex-end;
    font-size: .9rem;
    margin-top: -5px;
    a {
        display: block;
        color: white;
        text-align: center;
        padding: 7px 10px 10px;
        border-radius: 50%;
        height: 36px;
        width: 36px;
    }
}

a {
    &.facebook {
        &:hover {
            background-color: #3b5998;
        }
    }
    &.twitter {
        &:hover {
            background-color: #00aced;
        }
    }
    &.instagram {
        &:hover {
            background-color: #d93175;
        }
    }
    &.linked-in {
        &:hover {
            background-color: #0077b5;
        }
    }
}

.mobile-br {
    display: none;
}

.sitemap {
    &:hover {
        text-decoration: underline;
    }
}


// Tablet Changes
@media (min-width: 767px) {
    .mobile {
        display: none;
    }
    .tablet {
        display: block;
    }
    .h-r1 {
        width: 50%;
    }
    .logo {
        margin-left: auto;
    }
    .container {
        width: 752px;
    }
    .services-r2 {
        width: calc(100%/2);
        float: left;
    }
    .col-2 {
        width: 50%;
        float: left;
        &:last-child {
            h3 {
                min-height: 3rem;
            }
        }
    }
    .clients-section {
        display: block;
    }
}

//Computer Screen Changes
@media (min-width: 992px) {
    .btn-header {
        display: inline-block;
    }
    #input-search {
        display: none;
    }
    .container {
        width: 970px;
    }
    .main-nav {
        display: block;
    }
    .banner-img-container {
        &::before {
            content: '';
            background: linear-gradient(270deg, transparent 25%, black);
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
            z-index: 2;
        }
    }
    .banner-title {
        font-size: 4rem;
        line-height: 5rem;
        text-align: left;
    }
    .banner-par {
        font-size: 1.625rem;
        line-height: 2.5rem;
        text-align: left;
    }
    .services-title-container {
        width: 100%;
        float: left;
        top: -8px;
    }

    .services-r1, .services-r2 {
        float: left;
    }
    .services-r1 {
        width: calc(100%/3);
    }
    .services-r2 {
        width: calc(100%/2);
    }
    .col {
        width: 50%;
        float: left;
    }
}

@media (min-width: 992px) and (max-width: 1260px) {
    .submit-search {
        border-radius: 3px !important;
    }
}

@media (min-width: 767px) and (max-width: 1260px) {
    .col-2 {
        &:last-child {
            display: none !important;
        }
    }
}

@media (min-width: 1260px) {
    .container {
        width: 1200px;
    }
    #input-search {
        display: inline-block;
        margin-left: 0;
        width: 240px;
    }
    .h-r1 {
        width: auto;
    }
    .col-3 {
        width: calc((100%/3) * 2);
    }
    .services-r2 {
        width: calc(100%/4);
    }
    .btn-google, .btn-trustpilot {
        padding: 10px 29px;
    }
    .col-2 {
        width: calc(100%/3);
    }
}

@media (max-width: 1260px) {
    .nav-dropdown {
        a {
            font-size: 0.8125rem !important;
        }
    }
    .btn-norm-dark {
        margin-bottom: 50px;
    }
    .btn-google, .btn-trustpilot {
        margin-top: 20px;
    }
    .services, .offices {
        width: 100%;
        justify-content: space-evenly;
    }
    .sign-up {
        .btn-norm-dark {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 992px) {
    .banner-img {
        opacity: 50%;
    }
}

@media (max-width: 767px) {
    .news-view-all-top {
        display: none !important;
    }
    .news-view-all {
        display: block !important;
    }
    .services, .offices {
        flex-wrap: wrap;
        justify-content: center;
    }
    .mobile-br {
        display: block !important;
    }
    .services-r1, .services-r2 {
        top: -8px;
    }
}