html {
  font-size: 16px;
}

body {
  background-color: white;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.4px;
  color: #666;
}

span {
  display: block;
}

div {
  display: block;
}

a {
  text-decoration: none;
  background: transparent;
}

button {
  cursor: pointer;
}

*, :before, :after {
  box-sizing: border-box;
}

p {
  line-height: 1.875rem;
  margin-bottom: 25px;
}

.inner {
  padding: 20px 0px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

h3 {
  font-weight: 400;
  margin: 0 0 15px;
  font-size: 1.625rem;
}
h3 a {
  color: #333645;
}

.h1, h1 {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0 0 28px;
  color: #333645;
  line-height: 1.1;
}

[class^=-icon] {
  font-family: icomoon;
}

#header .row {
  display: table;
  width: 100%;
  margin: 0;
  height: 70px;
}

.h-r1 {
  display: table-cell;
  padding: 0;
  vertical-align: middle;
  width: 100%;
}

.logo {
  vertical-align: middle;
  display: table-cell;
  cursor: pointer;
}
.logo img {
  max-width: 100%;
  display: block;
}

.phone-logo {
  font-size: 32px;
  margin-left: 20px;
  color: #333645;
}
.phone-logo:hover {
  color: #22242e;
  text-decoration: underline;
}

.btn {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  text-align: center;
  border: 1px solid transparent;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
}
.btn:hover {
  text-decoration: none !important;
}

.btn-header {
  display: none;
  float: left;
  margin-left: 20px;
  vertical-align: middle;
  height: 56px;
  line-height: 46px;
}

.btn-support {
  color: white;
  background-color: #4183d7;
  border-color: #4183d7;
  margin-left: 0;
}
.btn-support:hover {
  background-color: #2a6ec6;
  border-color: #2a6ec6;
}

.btn-norm {
  color: white;
  background-color: #999aa2;
  border-color: #999aa2;
}
.btn-norm:hover {
  background-color: #84858f;
  border-color: #84858f;
}

.fa-computer-mouse, .fa-paper-plane {
  margin-right: 5px;
  font-size: 1.2rem;
  line-height: 45px;
}

.btn-nav {
  height: 56px;
  width: auto;
  border-radius: 3px;
  border: 0;
  padding: 5px 15px;
  line-height: 46px;
  float: left;
  background-color: #333645;
  border-color: #333645;
  color: white;
  margin-left: 20px;
}
.btn-nav:hover {
  background-color: #22242e;
}

.btn-nav-icon {
  display: block;
  height: 4px;
  width: 33px;
  background-color: white;
  border-radius: 0;
  position: relative;
}
.btn-nav-icon::before {
  display: block;
  height: 4px;
  width: 33px;
  background-color: white;
  border-radius: 0;
  top: -10px;
  position: absolute;
  content: "";
}
.btn-nav-icon::after {
  display: block;
  height: 4px;
  width: 33px;
  background-color: white;
  border-radius: 0;
  top: 10px;
  position: absolute;
  content: "";
}

.btn-nav-icon-inner {
  background-color: white;
  border-radius: 0;
}
.btn-nav-icon-inner::before {
  background-color: white;
  border-radius: 0;
  top: -10px;
}
.btn-nav-icon-inner::after {
  background-color: white;
  border-radius: 0;
  top: -10px;
}

.form-search {
  margin-top: 11px;
  position: relative;
}

.input-search {
  width: 100%;
  height: 47px;
  padding: 5px 15px;
  padding-right: 40px;
  font-size: 14px;
  color: #555;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  outline: hsla(0deg, 0%, 100%, 0.2);
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}

#submit-search {
  background: none;
  border: none;
  outline: none;
  position: absolute;
  font-size: 20px;
  line-height: 47px;
  color: #333645;
  right: 5px;
}

.actions {
  float: right;
  padding: 7px 0;
}

.tablet {
  margin-left: 20px;
  float: left !important;
  display: none;
}
.tablet .input-search {
  display: inline-block;
  border-radius: 0;
  width: 174px;
  height: 56px;
  background-color: white;
  background-image: none;
  border: 1px solid #e5e5e5;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}
.tablet #submit-search {
  padding: 7px 20px 3px;
  height: 56px;
  font-size: 1.5rem;
  border-radius: 0 3px 3px 0;
  border: none;
  vertical-align: middle;
  background-color: #999aa2;
  color: white;
  right: 0;
  position: relative;
}
.tablet #submit-search:hover {
  background-color: #84858f;
}
.tablet .form-search {
  margin-top: 0;
}

.main-nav {
  background-color: #333645;
  display: none;
}
.main-nav .container {
  padding: 0;
}
.main-nav ul {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}
.main-nav ul li {
  flex: 1;
  text-align: center;
  position: relative;
}
.main-nav ul li:hover i {
  color: white !important;
}
.main-nav ul a {
  position: relative;
  display: block;
  color: white;
  text-transform: uppercase;
  padding: 19px 0 18px;
  font-size: 1.125rem;
  text-decoration: none;
  line-height: 1;
}
.main-nav ul i[class^=fa-] {
  display: block;
  padding-bottom: 10px;
  font-size: 1.438rem;
}
.main-nav ul small {
  display: block;
  font-size: 0.625rem;
}
.main-nav ul .nav-dropdown {
  flex-direction: column;
}

.nav-dropdown {
  padding: 0.313rem 0;
  margin: 0;
  position: absolute !important;
  top: 100%;
  width: 100%;
  z-index: 5;
  list-style: none;
  border-radius: 0 0 0.625rem 0.625rem;
  display: none !important;
}
.nav-dropdown a {
  padding: 0.625rem 0.938rem !important;
  font-size: 1rem !important;
  text-align: center !important;
  display: block !important;
  line-height: 1.313rem !important;
  text-transform: none !important;
}
.nav-dropdown a:hover {
  text-decoration: underline;
}

.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: relative;
  min-height: 550px;
  background-color: black;
}

.banner-img-container {
  overflow: hidden;
  align-items: center;
  justify-content: center;
  align-content: center;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.banner-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-content {
  position: relative;
  z-index: 3;
  text-align: center;
  color: white;
}

.banner-title {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
  margin: 0 0 1.25rem;
}

.banner-par {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
  margin-bottom: 0.375rem;
}

.services-list {
  margin-top: 20px;
}
.services-list .h2 {
  font-size: 1.3rem;
  position: relative;
  padding-bottom: 10px;
  margin: 0 0 11px;
  font-weight: 400 !important;
}
.services-list .p {
  font-size: 0.8125rem;
  line-height: 1.375rem;
  margin-bottom: 13px;
  font-weight: 400;
}
.services-list .block {
  margin-top: 30px;
  text-align: center;
  position: relative;
  top: 0;
  border-radius: 15px;
  transition: 0.5s ease;
}
.services-list .icon {
  font-size: 2rem;
  line-height: 62px;
  color: white;
}

.block {
  display: block;
  border: 1px solid #ccc;
  padding: 30px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}
.block:hover {
  top: -10px;
}

.services-title-container {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}

.services-title {
  font-size: 2.7rem;
  margin-top: -13px;
}
.services-title strong {
  color: #333645;
  font-weight: 600;
}

.services-r1, .services-r2 {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}
.services-r1 a, .services-r2 a {
  font-weight: 600;
  color: #333645;
}

.services-icon {
  height: 65px;
  width: 65px;
  margin: 0 auto 17px;
  border-radius: 50%;
  background-color: white;
}

.software i {
  color: #526781;
}
.software .nav-dropdown {
  background-color: #526781;
}
.software:hover {
  background-color: #67809f;
}
.software:hover > .nav-dropdown {
  display: block !important;
}
.software:hover .p {
  color: white;
}
.software:hover .h2 {
  color: white;
}
.software:hover .services-icon {
  background-color: white;
}
.software:hover .icon {
  color: #67809f;
}
.software:hover .btn-software {
  color: #67809f;
  background-color: white;
  border-color: white;
}
.software .services-icon {
  background-color: #67809f;
}

.it i {
  color: #286abd;
}
.it .nav-dropdown {
  background-color: #286abd;
}
.it:hover {
  background-color: #4183d7;
}
.it:hover > .nav-dropdown {
  display: block !important;
}
.it:hover .p {
  color: white;
}
.it:hover .h2 {
  color: white;
}
.it:hover .services-icon {
  background-color: white;
}
.it:hover .icon {
  color: #4183d7;
}
.it:hover .btn-it {
  color: #4183d7;
  background-color: white;
  border-color: white;
}
.it .services-icon {
  background-color: #4183d7;
}

.digital i {
  color: #25a25a;
}
.digital .nav-dropdown {
  background-color: #25a25a;
}
.digital:hover {
  background-color: #2ecc71;
}
.digital:hover > .nav-dropdown {
  display: block !important;
}
.digital:hover .p {
  color: white;
}
.digital:hover .h2 {
  color: white;
}
.digital:hover .services-icon {
  background-color: white;
}
.digital:hover .icon {
  color: #2ecc71;
}
.digital:hover .btn-digital {
  color: #2ecc71;
  background-color: white;
  border-color: white;
}
.digital .services-icon {
  background-color: #2ecc71;
}

.telecoms i {
  color: #bc2c28;
}
.telecoms .nav-dropdown {
  background-color: #bc2c28;
}
.telecoms:hover {
  background-color: #d64541;
}
.telecoms:hover > .nav-dropdown {
  display: block !important;
}
.telecoms:hover .p {
  color: white;
}
.telecoms:hover .h2 {
  color: white;
}
.telecoms:hover .services-icon {
  background-color: white;
}
.telecoms:hover .icon {
  color: #d64541;
}
.telecoms:hover .btn-telecoms {
  color: #d64541;
  background-color: white;
  border-color: white;
}
.telecoms .services-icon {
  background-color: #d64541;
}

.web i {
  color: #79539a;
}
.web .nav-dropdown {
  background-color: #79539a;
}
.web:hover {
  background-color: #926fb1;
}
.web:hover > .nav-dropdown {
  display: block !important;
}
.web:hover .p {
  color: white;
}
.web:hover .h2 {
  color: white;
}
.web:hover .services-icon {
  background-color: white;
}
.web:hover .icon {
  color: #926fb1;
}
.web:hover .btn-web {
  color: #926fb1;
  background-color: white;
  border-color: white;
}
.web .services-icon {
  background-color: #926fb1;
}

.security i {
  color: #de093f;
}
.security .nav-dropdown {
  background-color: #de093f;
}
.security:hover {
  background-color: #f62459;
}
.security:hover > .nav-dropdown {
  display: block !important;
}
.security:hover .p {
  color: white;
}
.security:hover .h2 {
  color: white;
}
.security:hover .services-icon {
  background-color: white;
}
.security:hover .icon {
  color: #f62459;
}
.security:hover .btn-security {
  color: #f62459;
  background-color: white;
  border-color: white;
}
.security .services-icon {
  background-color: #f62459;
}

.developer-course i {
  color: #a3331d;
}
.developer-course .nav-dropdown {
  background-color: #a3331d;
}
.developer-course:hover {
  background-color: #ce4125;
}
.developer-course:hover > .nav-dropdown {
  display: block !important;
}
.developer-course:hover .p {
  color: white;
}
.developer-course:hover .h2 {
  color: white;
}
.developer-course:hover .services-icon {
  background-color: white;
}
.developer-course:hover .icon {
  color: #ce4125;
}
.developer-course:hover .btn-developer-course {
  color: #ce4125;
  background-color: white;
  border-color: white;
}
.developer-course .services-icon {
  background-color: #ce4125;
}

.btn-software {
  color: white;
  background-color: #67809f;
  border-color: #67809f;
}

.btn-it {
  color: white;
  background-color: #4183d7;
  border-color: #4183d7;
}

.btn-digital {
  color: white;
  background-color: #2ecc71;
  border-color: #2ecc71;
}

.btn-telecoms {
  color: white;
  background-color: #d64541;
  border-color: #d64541;
}

.btn-web {
  color: white;
  background-color: #926fb1;
  border-color: #926fb1;
}

.btn-security {
  color: white;
  background-color: #f62459;
  border-color: #f62459;
}

.btn-developer-course {
  color: white;
  background-color: #ce4125;
  border-color: #ce4125;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}

.welcome-background {
  background-color: #333645;
  color: white;
}
.welcome-background a {
  color: white;
}
.welcome-background a:hover {
  text-decoration: underline;
}
.welcome-background .h1 {
  color: white;
  font-weight: 600;
}
.welcome-background .fa-arrow-right {
  margin-left: 8px;
  margin-right: -3px;
}

.col {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}
.col .h1 {
  margin-top: -6px;
  margin-bottom: 40px;
}

.btn-norm-dark {
  background-color: #272936;
  border-radius: 6px;
  padding: 10px 30px;
  font-size: 20px;
}
.btn-norm-dark:hover {
  background-color: #121318;
}

[class$=-star] {
  color: orange;
  font-size: 45px;
  margin-bottom: 14px;
}

.review {
  font-size: 1.3rem;
  font-weight: 600;
  font-style: italic;
  line-height: 1.95rem;
}

.review-author {
  font-size: 1.1rem;
  font-weight: 600;
  color: #a3a8ac;
}

.btn-google, .btn-trustpilot {
  border: none;
  margin-top: 55px;
}

.btn-google {
  background-color: #4387f6;
  margin-right: 8px;
  border-radius: 6px;
  padding: 10px 30px;
  font-size: 20px;
}
.btn-google:hover {
  background-color: #166af4;
}

.btn-trustpilot {
  background-color: #00b67b;
  border-radius: 6px;
  padding: 10px 30px;
  font-size: 20px;
}
.btn-trustpilot:hover {
  background-color: #009b69;
}

.news {
  padding-top: 50px;
}

.news-title-container {
  display: flex;
  justify-content: space-between;
}

.news-view-all-top a {
  font-weight: 600;
}
.news-view-all-top a:hover {
  text-decoration: underline;
}

.col-2 {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.item {
  font-size: 0.8125rem;
  top: 0;
  position: relative;
  transition: 0.5s ease;
  margin-top: 30px;
}
.item:hover {
  top: -10px;
  transition: 0.5s ease;
}
.item h3 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}
.item p {
  font-size: 0.8125rem;
  line-height: 1.375rem;
}
.item .block {
  border-top: 0;
  border-radius: 0 0 3px 3px;
}

.article-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.news-banner-container {
  position: relative;
}

.category {
  position: absolute;
  top: 22px;
  right: 0;
  font-size: 0.75rem;
  line-height: 1.438rem;
  text-transform: uppercase;
  padding: 0 10px;
  z-index: 1;
  text-decoration: none;
  color: white;
}
.category:hover {
  text-decoration: underline;
}

.c-1 .category {
  background-color: #4183d7;
}
.c-1 h3 a {
  color: #4183d7;
}

.c-2 .category {
  background-color: #926fb1;
}
.c-2 h3 a {
  color: #926fb1;
}
.c-2 .btn {
  background-color: #926fb1;
  border-color: #926fb1;
}

.news-img-container {
  display: block;
  border-radius: 3px 3px 0 0;
  position: relative;
  overflow: hidden;
  bottom: -10px;
}

.img {
  width: 100%;
  height: auto;
}

.user {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
  display: table;
  width: 100%;
  font-size: 0.875rem;
}
.user > * {
  display: table-cell;
  vertical-align: middle;
}

.avatar {
  overflow: hidden;
  width: 1%;
}
.avatar > img {
  height: auto;
  max-width: 47px;
  border-radius: 50%;
}

.details {
  padding-left: 20px;
  line-height: 1.375rem;
}
.details .primary-text {
  color: #333645;
  font-weight: 600;
}

.news-view-all {
  text-align: center;
  margin-bottom: 20px;
  display: none;
}
.news-view-all a {
  font-weight: 600;
}
.news-view-all a:hover {
  text-decoration: underline;
}

.clients-section {
  display: none;
}

.client-list {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.client {
  flex-grow: 1;
  position: relative;
  padding: 0 20px;
  vertical-align: middle;
  filter: grayscale(1);
}
.client img {
  max-width: 100%;
  height: auto;
}
.client h3 {
  position: relative;
  font-size: 1.125rem;
  color: white;
  padding-bottom: 17px;
  margin: 0 0 11px;
}
.client p {
  font-size: 0.8125rem;
  line-height: 1.375rem;
  margin-bottom: 0;
}
.client:hover {
  filter: grayscale(0);
}
.client:hover .description {
  display: block !important;
}

.description {
  position: absolute;
  bottom: 100%;
  background-color: #333645;
  padding: 20px;
  color: white;
  font-size: 0.875rem;
  max-width: 260px;
  display: none;
}

.newsletter {
  background-color: #ddd;
}

.sign-up {
  margin: 0;
  padding: 50px 0;
}
.sign-up button {
  color: white;
}

.user-input-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.sign-up-input {
  flex: 1 1 450px;
  padding-left: 15px;
  padding-right: 15px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: 600;
  color: #333645;
  display: inline-block;
  margin-bottom: 5px;
}

.required::after {
  content: " *";
  color: #d24d57;
}

.form-control {
  display: block;
  font-size: 14px;
  line-height: 1.4;
  color: #555;
  width: 100%;
  height: 47px;
  padding: 5px 15px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}

.marketing-checkbox {
  line-height: 32px;
  cursor: pointer;
}
.marketing-checkbox input[type=checkbox] {
  display: none;
}

.media:first-child {
  margin-top: 0;
}

.media-checkbox {
  padding-right: 0;
  display: table-cell;
  vertical-align: top;
}

.checkbox {
  position: relative;
  float: left;
  border: 3px solid #333645;
  border-radius: 3px;
  height: 32px;
  width: 32px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.marketing-preference-checked {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.marketing-preference-checked .checkmark {
  font-size: 1.5rem;
  display: none;
}

input[type=checkbox]:checked .checkmark {
  display: block;
}

.media-content {
  display: table-cell;
  vertical-align: top;
}

footer {
  background-color: #333645;
  color: white;
  padding: 47px 0 43px;
}
footer h4 {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 26px;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer li {
  font-size: 0.8125rem;
  line-height: 1.375rem;
}
footer a {
  color: white;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-row a:hover {
  text-decoration: underline;
}

.service, .office {
  width: 225px;
  margin-bottom: 30px;
}

.services, .offices {
  display: flex;
  justify-content: space-between;
}

.bottom {
  display: flex;
  justify-content: space-between;
  font-size: 0.8125rem;
  border-top: 1px solid #888;
  padding-top: 10px;
  margin-top: 10px;
}

.license {
  display: flex;
  color: white;
  padding-top: 5px;
}
.license span {
  margin-left: 10px;
  margin-right: 10px;
}

.social-media {
  display: flex;
  justify-content: flex-end;
  font-size: 0.9rem;
  margin-top: -5px;
}
.social-media a {
  display: block;
  color: white;
  text-align: center;
  padding: 7px 10px 10px;
  border-radius: 50%;
  max-height: 38px;
}

a.facebook:hover {
  background-color: #3b5998;
}
a.twitter:hover {
  background-color: #00aced;
}
a.instagram:hover {
  background-color: #d93175;
}
a.linked-in:hover {
  background-color: #0077b5;
}

.mobile-br {
  display: none;
}

@media (min-width: 767px) {
  .mobile {
    display: none;
  }
  .tablet {
    display: block;
  }
  .h-r1 {
    width: 50%;
  }
  .logo {
    margin-left: auto;
  }
  .container {
    width: 752px;
  }
  .services-r2 {
    width: 50%;
    float: left;
  }
  .col-2 {
    width: 50%;
    float: left;
  }
  .col-2:last-child h3 {
    min-height: 3rem;
  }
  .clients-section {
    display: block;
  }
}
@media (min-width: 992px) {
  .btn-header {
    display: inline-block;
  }
  #input-search {
    display: none;
  }
  .container {
    width: 970px;
  }
  .main-nav {
    display: block;
  }
  .banner-img-container::before {
    content: "";
    background: linear-gradient(270deg, transparent 25%, black);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 2;
  }
  .banner-title {
    font-size: 4rem;
    line-height: 5rem;
    text-align: left;
  }
  .banner-par {
    font-size: 1.625rem;
    line-height: 2.5rem;
    text-align: left;
  }
  .services-title-container {
    width: 100%;
    float: left;
  }
  .services-r1, .services-r2 {
    float: left;
  }
  .services-r1 {
    width: 33.3333333333%;
  }
  .services-r2 {
    width: 50%;
  }
  .col {
    width: 50%;
    float: left;
  }
}
@media (min-width: 992px) and (max-width: 1260px) {
  #submit-search {
    border-radius: 3px !important;
  }
}
@media (min-width: 767px) and (max-width: 1260px) {
  .col-2:last-child {
    display: none !important;
  }
}
@media (min-width: 1260px) {
  .container {
    width: 1200px;
  }
  #input-search {
    display: inline-block;
    margin-left: 0;
    width: 240px;
  }
  .h-r1 {
    width: auto;
  }
  .col-3 {
    width: 66.6666666667%;
  }
  .services-r2 {
    width: 25%;
  }
  .btn-google, .btn-trustpilot {
    padding: 10px 29px;
  }
  .col-2 {
    width: 33.3333333333%;
  }
}
@media (max-width: 1260px) {
  .nav-dropdown a {
    font-size: 0.8125rem !important;
  }
  .btn-norm-dark {
    margin-bottom: 50px;
  }
  .btn-google, .btn-trustpilot {
    margin-top: 20px;
  }
  .services, .offices {
    width: 100%;
    justify-content: space-evenly;
  }
}
@media (max-width: 992px) {
  .banner-img {
    opacity: 50%;
  }
}
@media (max-width: 767px) {
  .news-view-all-top {
    display: none !important;
  }
  .news-view-all {
    display: block !important;
  }
  .services, .offices {
    flex-wrap: wrap;
    justify-content: center;
  }
  .mobile-br {
    display: block !important;
  }
}/*# sourceMappingURL=main.css.map */