.nav-directory {
    box-shadow: 0 5px 35px rgb(0 0 0 / 10%);
    font-size: 0.8125rem;
    background: white;
    padding: 14px 0px;
    .directory-list {
        list-style: none;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        .directory-break {
            margin: 0px 10px;
        }
        .directory-item {
            a {
                font-weight: 700;
                color: $color-primary;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.contact-offices_title {
    padding: 50px 0px 0px 0px;
}

.contact-offices {
    margin-top: 80px;
    .contact-location {
        max-width: 718px;
        margin: 0px 2px 30px 2px;
        &-about {
            box-shadow: 0 3px 35px rgb(0 0 0 / 10%);
            border-radius: 15px;
            position: relative;
            transition: $transitionTwo;
            top: 0px;
            &_image {
                font-size: 0;
                .contact-image {
                    img {
                        max-width: 100%;
                    }
                }
            }
            &_info {
                padding: 30px;
                text-align: left;
                border: 1px solid #ccc;
                border-top: 0;
                border-radius: 0px 0px 15px 15px;
                .contact_name {
                    font-size: 1.125rem;
                    margin-bottom: 15px;
                    a {
                        color: $color-primary;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                .contact_address {
                    margin-bottom: 15px;
                    font-size: 0.8125rem;
                    line-height: 1.375rem;
                }
                .contact_number {
                    a {
                        font-weight: 700;
                        font-size: 1.625rem;
                        letter-spacing: 0.4px;
                        color: $color-nav5-secondary;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                .contact_show-more {
                    a {
                        background: $color-nav5-secondary;
                        color: white;
                        font-size: 0.9rem;
                        padding: 5px 30px;
                        margin-top: 15px;
                        &:hover {
                            background: $color-nav5-primary;
                        }
                    }
                }
            }
            &:hover {
                top: -10px;
                transition: $transitionTwo;
            }
        }
        .contact-map {
            p {
                margin: 0;
            }
        }
    }
}

.contact-page-form {
    padding-bottom: 50px;
    &-section {
        position: relative;
        .contact-form {
            &_details {
                p {
                    color: black;
                    strong {
                        font-weight: 600;
                    }
                    a {
                        &.email {
                            font-size: 1.4rem;
                            font-weight: 700;
                            color: $color-nav5-secondary;
                        }
                    }
                }
            }
            &_opening-hours {
                .opening-hours {
                    &_open {
                        font-weight: 600;
                        color: black;
                        i {
                            font-weight: 700;
                            font-size: 1.3rem;
                        }
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    &_menu {
                        overflow: hidden;
                        height: 0px;
                        transition: all 0.3s linear; 
                        p {
                            strong {
                                font-weight: 600;
                                color: black;
                            }
                            &:first-of-type {
                                margin-top: 0;
                            }
                        }
                        &.active {
                            height: 100%;
                            transition: all 0.3s linear;
                        }
                    }
                }
            }
        }
        #contact-form {
            background: #e6e7e9;
            padding: 30px;
            border-radius: 10px;
            .form-group {
                display: flex;
                flex-direction: column;
                margin-bottom: 0px;
                .marketing-checkbox {
                    .media {
                        &-content {
                            line-height: 32px;
                        }
                    }
                }
                &:last-of-type {
                    margin-top: 10px;
                }
            }
            .form-item {
                display: flex;
                flex-direction: column;
                margin-bottom: 15px;
                textarea {
                    min-height: 100px;
                }
            }
            .form-action {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 47px;
                .submit-btn {
                    background: $color-nav5-secondary;
                    color: white;
                    &:hover {
                        background: $color-nav5-primary;
                    }
                }
                p {
                    font-size: 0.85rem;
                }
            }
            .err_messages {
                display: flex;
                flex-direction: column;
                .err_message {
                    width: 100%;
                    padding: 15px;
                    margin-bottom: 20px;
                    border: 1px solid #ebccd1;
                    color: #a94442;
                    background: #f2dede;
                    &.success {
                        background-color: #2ecc71;
                        border: 0;
                        color: white;
                    }
                    .err_close {
                        float: right;
                        font-size: 21px;
                        opacity: .2;
                        color: black;
                        font-weight: 700;
                        line-height: 1.2;
                        cursor: pointer;
                        user-select: none;
                        &:hover {
                            opacity: .5;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1260px) {
    .contact-page-form {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 30px;
        &-section {
            &.form-one {
                padding: 0px 30px;
                .contact-form_details {
                    margin-top: -10px;
                }
            }
            #contact-form {
                .form-group {
                    flex-direction: row;
                    .form-item {
                        width: 50%;
                        padding-right: 15px;
                        &:last-child {
                            padding-left: 15px;
                            padding-right: 0px;
                        }
                    }
                }
            }
            &.form-one {
                width: calc(100% / 3);
            }
            &.form-two {
                width: calc(calc(100% / 3) * 2)
            }
        }
    }
}
